.main-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-gallery .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}

.main-gallery .cards-row-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-gallery .cards-row-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.main-gallery .card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 400px;
}

.main-gallery .card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.main-gallery .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}

.main-gallery h2 {
  font-size: 26px;
}

.main-gallery h3 {
  font-size: 20px;
  font-weight: 500;
}
